<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.cryptopunks.warpdrive.app">

    <application
        android:label="@string/warp_drop_app_name"
        android:theme="@style/Theme.Warpdrop"
        tools:replace="android:theme,android:label" />
</manifest>
