<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.cryptopunks.astral">

    <application
        android:name="cc.cryptopunks.wrapdrive.WarpdriveFat"
        android:label="@string/astral_node_app_name"
        tools:replace="android:name,android:label" />
</manifest>
